<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="Dcs.TxHosting.TxHost" behaviorConfiguration="b1">
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost/test"/>
                        <add baseAddress="http://localhost:50009/test"/>
                        <add baseAddress="net.msmq://localhost/test"/>
                        <add baseAddress="net.pipe://localhost/test"/>
                    </baseAddresses>
                </host>
				<endpoint address="http://localhost:50010/tx/mex2" binding="mexHttpBinding" contract="IMetadataExchange"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="b1">
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:50010/tx/mex"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>